<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0e736c01-ea9f-45b7-968e-ced087aa645f/resourcegroups/atm20230303093128ResourceGroup/providers/Microsoft.Web/sites/atm20230303093128</ResourceId>
    <ResourceGroup>atm20230303093128ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0e736c01-ea9f-45b7-968e-ced087aa645f/resourceGroups/atm20230303093128ResourceGroup/providers/Microsoft.ApiManagement/service/atmapi/apis/atm</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://atm20230303093128.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>806a5266-590f-4dfd-8e4e-5f1fa635bdbd</ProjectGuid>
    <MSDeployServiceURL>atm20230303093128.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>atm20230303093128</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$atm20230303093128</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>